<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentaAcar.My.MySettings.RentaAcarConnectionString"
            connectionString="Data Source=DESKTOP-6AIFGAG\SQLEXPRESS;Initial Catalog=RentaAcar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
